*.L68
*.S68
*.srec
Software/EHBASIC/basicLoader_20190701g.x68
Software/C-Tests/
Software/diskload/*.o*
Software/diskload/*/*.o*
Software/Slideshow/Images/*.h
ITX-Mainboard
*.o
*.out
*.map
ExpansionBoards/wrap030isa
*.a
*.elf
*.bin
.vscode
Utilities/vasm
Utilities/vlink
*_Abandoned*
